<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contacts</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Goku</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Gohan</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Frieza</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Yancha</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Bulma</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Kuririn</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Napa</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Vegeta</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Picolo</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Trunks</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>sr. kaio</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>bills o destruidor</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Gotens</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Namecuseidin</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>gogeta</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Super sayan</string>
			<key>telefone</key>
			<string>11111111</string>
		</dict>
	</array>
</dict>
</plist>
